.live-scores-ticker {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  margin: 0;
  padding: 10px 0;
}

.scores-marquee {
  display: flex;
  animation: marquee 60s linear infinite;
}

.score-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.score-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upcoming-game .score-header {
  background-color: #28a745;
  /* Green for upcoming games */
}

@keyframes marquee {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(-270%, 0, 0);
  }
}

.table-container {
  margin-top: 20px;
  margin-bottom: 20px;
}


#btn{
  margin-bottom: 20px;
}
