{% extends "base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">


<div class="live-scores-ticker">
  {% if error_message %}
  <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}
  <div class="scores-marquee">
    {% if game_data %}
    {% for game in game_data %}
    <div class="score-card {% if game.status == 'Upcoming' %}upcoming-game{% endif %}">
      <div class="score-header">{{ game.home_team }} vs {{ game.away_team }}</div>
      <div class="card-body">
        <div>Score: {{ game.home_score }} - {{ game.away_score }}</div>
        <div>Status: {{ game.status }}</div>
        <div>Date: {{ game.date }}</div>
        <div>Series: {{ game.series_text }}</div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="score-card">
      <div class="card-body">No live game data available at this moment.</div>
    </div>
    {% endif %}
  </div>
</div>



<div class="container table-container">
  <h2   class="text-center">Stats Table</h2>
  <form action="{% url 'index' %}" method="post" class="d-flex justify-content-center gap-2 mt-3">
    {% csrf_token %}
    <button id="btn" class="btn btn-success" type="submit" name="button" value="by_position">By Position</button>
    <button id="btn" class="btn btn-secondary" type="submit" name="button" value="by_points">By Points</button>
    <button id="btn" class="btn btn-primary" type="submit" name="button" value="by_rebounds">By Rebounds</button>
    <button id="btn" class="btn btn-danger" type="submit" name="button" value="by_efficiency">By Efficiency</button>
  </form>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rank</th>
        <th scope="col">Position</th>
        <th scope="col">Points</th>
        <th scope="col">Rebounds</th>
        <th scope="col">Efficiency</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr>
        <td><a href="{% url 'search_selected_player' player.first_name %}">{{ player.full_name }}</a></td>
        <td>{{ player.rank }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.pts|floatformat:1 }}</td>
        <td>{{ player.reb|floatformat:1 }}</td>
        <td>{{ player.efficiency|floatformat:1 }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Click on a filter to load some players!!</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>


{% endblock content %}
